
.available-doctors-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 100px 20px 100px;
}

@media only screen and (max-width: 540px) {
    .available-doctors-list{
        padding: 0 20px 20px 20px !important;
    }
  }